{% extends "layout.html" %}
{% block content %}
    <h2>Submit Study Space Location</h2>
    <form action="{{ url_for('submit') }}" method=post>
	<p class="heading">Building Name: <input type=text name=bname></p>
	<p class="heading">Building Code: <input type=text name=bcode></p>
        <p class="heading">Floor: <input type=number name=floor pattern="[0-9]+"></p>
	<p class="heading">Room Number: <input type=number name=room_num pattern="[0-9]+"></p>
	<p class="heading">Rating: <input type=text name=rating pattern="[0-9]*\.?[0-9]"></p>
	<p><input type=submit value=Submit></p>
    </form>
    <h3><a href="{{ url_for('index') }}">Back</a></h3>
{% endblock %}
