{% extends "layout.html" %}
{% block content %}
    <h2>Favourites</h2>

    <h3>Entries</h3>
    {% for movie in movies %}
        <p class=movie>
	    <a href="{{ url_for('display', movie_id=movie.movie_id) }}">{{ movie.title }}</a>
	    <br>Overview:{{ movie.overview }}
	    <br>Language:{{ movie.language }}
	    <br>
	    <form action="{{ url_for('favourites') }}" method="POST" style="display: inline;">
                <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">
                <button type="submit">Delete</button>
            </form>
        </p>
    {% endfor %}
    <h3><a href="{{ url_for('index') }}">Back</a></h3>

{% endblock %}


