{% extends "layout.html" %}
{% block content %}
    <h2>Movie Trailer Viewer</h2>

    <h3>display favourites <a href="{{ url_for('favourites') }}">here</a></h3>

    <form action="{{ url_for('index') }}" method="GET">
  	<input type="text" name="query" placeholder="Search for movies">
  	<button type="submit">Search</button>
    </form>

    <h2>Movie Details</h2>
    <ul>
        {% for movie in movies %}
        <li>
		<a href="{{ url_for('display', movie_id=movie.id) }}">{{ movie.title }}</a>
		<button onclick="addToFavorites('{{ movie.id }}', '{{ movie.title }}', '{{ movie.overview }}', '{{ movie.original_language }}')">Add to Favorites</button>
		<br><img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="Movie poster image" class="poster-image"><br>
	</li>
        {% endfor %}
    </ul>
    <script>
  	function addToFavorites(movieId, movieTitle, movieOverview, movieLanguage) {
    		fetch('/submit', {
                	method: 'POST',
                	headers: {
                    		'Content-Type': 'application/json',
                	},
                	body: JSON.stringify({
                    		movie_id: movieId,
                    		title: movieTitle,
                    		overview: movieOverview,
                    		language: movieLanguage
                	}),
            	})
            	.then(response => {
                	if (response.ok) {
                    		alert('Movie added to favorites');
                	} else {
                    		alert('Failed to add movie to favorites');
                	}
            	})
            	.catch(error => {
                	alert('An error occurred while adding movie to favorites');
                	console.error(error);
            	});
  	}
    </script>
{% endblock %}
